<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD0dYNOLR8_akeb7FC_Cr7yGsTQFHxMQXc</string>
	<key>GCM_SENDER_ID</key>
	<string>674794837429</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecomfix.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ecomfix</string>
	<key>STORAGE_BUCKET</key>
	<string>ecomfix.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:674794837429:ios:53895432029228b4d2b5fc</string>
</dict>
</plist>